:root {
  
}
body{
  margin: 0px;
}

.navBarBack {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(9px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  height: 100px;
  z-index: 999;
  overflow: hidden;
}
/* Pseudo-elemento para el efecto de brillo */
.navBarBack::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 40%;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.014), rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0));
  animation: shine 3s infinite linear; /* Animación de brillo */
}

@keyframes shine {
  0% {
    left: -50%; /* Comienza fuera del área visible */
  }
  100% {
    left: 100%; /* Termina fuera del área visible */
  }
}
.navBarBack a{
  text-decoration: none;
  color: #fff5d9d8;
}
.logo{
  padding-top: 10px;
  height: 100%;
  width: auto;
}
.gradient{
  z-index: -1;
  position: relative;
  background: rgb(34,33,31);
  background: linear-gradient(87deg, rgba(34,33,31,1) 2%, rgba(34,33,31,1) 11%, rgba(63,40,31,1) 19%, rgba(243,84,34,1) 38%, rgba(247,129,78,1) 57%, rgba(230,13,22,1) 69%, rgba(34,33,31,1) 92%);
}
.gradient_effect{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 8%, rgb(14, 14, 14) 68%, rgb(2, 2, 2) 92%);
  z-index: -1;
}

.containerStart {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  width: 70%;
  height: fit-content;
  
}
.kinodeTextContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subHeadline{
  color: #fff5d9c4;
  font-size: 22px;
  opacity: 0.8;
  margin: 20px 0px;
  font-weight: 700;
  letter-spacing: -1px;
}

.aboutUsBackground{
  height: fit-content;
  display: flex;
  justify-content: center;
}
.aboutUsContainer{
  
  display: flex;
  justify-content: center;
  width: 70%;
  height: fit-content;
  padding: 40px 0px;
  
}
.subTitleContainer{
  writing-mode: vertical-rl; 
  transform: rotate(360deg); 
  margin: 0; 
  padding: 10px;
  width: 10%;
}

.subTitleContainer h2 {
  margin: 0;
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #FFF5D9;
  opacity: 0.1;
  font-weight: 700;
  letter-spacing: -4%;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}
.contentContainer div{
  position: relative;
  width: 80%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.027);
  border-radius: 15px;
  padding: 0px 25px;
  border-top: 1px solid #fff5d9;
  border-left: 1px solid #fff5d956;
  border-bottom: 1px solid #fff5d9a9;
  border-right: 1px solid #fff5d94d;
  color:#FFF5D9;
  overflow: hidden;
}

.contentContainer div h3{
  margin: 0;
  font-size: 30px;
}
.contentContainer div p{
  width: 75%;
  font-weight: 400;
  letter-spacing: -2%;
}
.marginDiv{
  margin-right: 10%;
}

.teamPreImage{
  position: relative;
}
.stairs{
  width: 100%;
  height: auto;
}

.teamSubtitle_Container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgb(2, 2, 2) 80%);
}
.teamSubtitle_Container h2{
  margin: 0;
  font-size: 14rem;
  color: transparent;
  -webkit-text-stroke: 1px #FFF5D9;
  opacity: 0.1;
  font-weight: 700;
  letter-spacing: -4%;
}

.teamBackground{
  width: 100%;
  background-color: rgb(2, 2, 2);
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.carrousel {
  width: 80%;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 70px;
  padding-top: 50px;
}
.blurEffect1{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 38.6%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgb(2, 2, 2) 100%);
  backdrop-filter: blur(3px);
  z-index: 2;
}
.blurEffect2{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 39.2%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgb(2, 2, 2) 100%);
  backdrop-filter: blur(3px);
  z-index: 2;
}
.innerCarrousel {
  display: flex;
  justify-content: center;
  padding-left: 310px;
  gap: 20px;
  padding-bottom: 20px; /* Espacio inferior para evitar que los botones se superpongan */
}

.member {
  flex-shrink: 0; /* Evita que los elementos se reduzcan para ajustarse al contenedor */
  width: 300px; 
  height: 300px;

}
.memberSelected{
  scale: 1.1;
}

.memberDataContainer{
  height: 100%;
  position: relative;
  
}
.memberData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  color: #FFF5D9;
}

.memberProfileImage{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.namePosition{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF5D9;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, rgba(0, 0, 0, 0.021) 100%);
  gap: 3px;
  
}
.namePosition h4{
  margin: 0px;
  margin-top: 20px;
  pointer-events: none;
  
}
.namePosition span{
  margin: 0px;
  margin-bottom: 20px;
  pointer-events: none;
  font-size: 0.75rem;
  color: #FFF5D9;
}

.descriptionMember{
  width: 90%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
.descriptionMember p{
  pointer-events: none;
  padding-bottom: 15px;
  text-align: center;
}

.bottomRight{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: transparent;
  border: 0px;
  margin-right: 30%;
  margin-top: 5%;
}
.bottomLeft{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: transparent;
  border: 0px;
  transform: scaleX(-1);
  margin-left: 30%;
  margin-top: 5%;
}
.arrow{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.404));
}
.partnerBack{
  position: relative;
  height: fit-content;
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  background-color:  rgb(2, 2, 2);
}
.gradientBetween{
  position: absolute;
  top: 0;
  height: 50px;
  width: 50%;
  background: linear-gradient(to bottom, rgb(2, 2, 2), #090303);
}
.gradientBetweenBottom{
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(218, 20, 20, 0), rgb(2, 2, 2));
}
.treeImageContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.treeImage{
  height: auto;
  width: 90%;
}
.gradientTree{
  position: absolute;
  width: 90%;
  height: 100%;
  background: linear-gradient(to right, rgb(2, 2, 2)0%, rgba(0, 0, 0, 0)20%, rgba(0, 0, 0, 0)80%, rgb(2, 2, 2)100%);
  
}

.sponsorContainer{
  margin-top: 400px;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 1.5%;
  height: fit-content;
  width: 100%;
  
}
.sponsorCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  
  
}

.sponsorCard div{
  position: relative;
  width: 130px;
  height: 130px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsorCard h2{
  margin: 0px;
  color: #fff5d9;
  font-size: 0.9rem;
}

.logoSponsor{
  width: 60%;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  filter: drop-shadow(0px 0px 15px #FDF0D5);
}

.footer{
  position: relative;
  width: 100%;
  background-color: rgb(2, 2, 2);
}
.footerContent{
  background: linear-gradient(0deg, rgba(175, 50, 0, 0.884) 0%, rgba(104, 24, 12, 0.795) 13%, rgb(2, 2, 2) 35%, rgba(2,2,2,1) 100%);  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.containerRadius{
  position: relative;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  
}
.radius{
  height: 100%;
  width: auto;
  
}
.contenedorLogoFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logoFooter{
  width: 100px;
  height: auto;
  padding-bottom: 25px;
  
}

.comunity{
  color: #FDF0D5;
}
.comunity span{
  font-size: 0.9rem;
  color: #fdf0d56b;
}
.comunity h2{
  margin: 0px;
  padding: 5px 0px;
  width: 100%;
  font-size: 2rem;
  color: #FDF0D5;
}
.socials{
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-right: 70px;
}
.socials a{
  text-decoration: none;
  color: #FDF0D5;
  font-size: 40px;
}

.rights{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 30px;
  background-color: #000000;
  color: #fff5d91c;
  padding: 10px;
}
