:root {
  
}
body{
  margin: 0px;
  background-color: #000000;
}
.navBarBack {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(9px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100px;
  z-index: 1000;
  overflow: hidden;
}

/* Pseudo-elemento para el efecto de brillo */
.navBarBack::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 40%;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.014), rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0));
  animation: shine 3s infinite linear; /* Animación de brillo */
}

@keyframes shine {
  0% {
    left: -50%; /* Comienza fuera del área visible */
  }
  100% {
    left: 100%; /* Termina fuera del área visible */
  }
}
.navBarBack a{
  text-align: center;
  width: 7%;
  text-decoration: none;
  color: #fff5d9d8;
  
}
.navBarBack a:hover{
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
  
}
.logo{
  padding-top: 10px;
  height: 100%;
  width: auto;
}
.gradient{
  z-index: -1;
  position: relative;
  background: rgb(34,33,31);
  background: linear-gradient(87deg, rgba(34,33,31,1) 2%, rgba(34,33,31,1) 11%, rgba(63,40,31,1) 19%, rgba(243,84,34,1) 38%, rgba(247,129,78,1) 57%, rgba(230,13,22,1) 69%, rgba(34,33,31,1) 92%);
}
.gradient_effect{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 8%, rgb(14, 14, 14) 68%, rgb(2, 2, 2) 92%);
  z-index: -1;
}

.containerStart {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  width: 70%;
  height: fit-content;
  
}
.kinodeTextContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kinodeTextLogo{
  width: 100%;
  height: auto;
}
.subHeadline{
  color: #fff5d9c4;
  font-size: 22px;
  opacity: 0.8;
  margin: 20px 0px;
  font-weight: 700;
  letter-spacing: -1px;
}

.aboutUsBackground{
  height: fit-content;
  display: flex;
  justify-content: center;
}
.aboutUsContainer{
  
  display: flex;
  justify-content: center;
  width: 70%;
  height: fit-content;
  padding: 40px 0px;
  
}
.subTitleContainer{
  writing-mode: vertical-rl; 
  transform: rotate(360deg); 
  margin: 0; 
  padding: 10px;
  width: 10%;
}

.subTitleContainer h2 {
  margin: 0;
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #FFF5D9;
  opacity: 0.1;
  font-weight: 700;
  letter-spacing: -4%;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}
.contentContainer div {
  position: relative;
  width: 80%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.027);
  border-radius: 15px;
  padding: 0px 25px;
  border-top: 1px solid #fff5d9;
  border-left: 1px solid #fff5d956;
  border-bottom: 1px solid #fff5d9a9;
  border-right: 1px solid #fff5d94d;
  color: #FFF5D9;
  overflow: hidden;
  
}


.contentContainer div h3{
  margin: 0;
  font-size: 30px;
}
.contentContainer div p{
  width: 75%;
  font-weight: 400;
  letter-spacing: -2%;
}
.marginDiv{
  margin-right: 10%;
}

.teamPreImage{
  padding-top: 100px;
  position: relative;
  background-color:  rgb(2, 2, 2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.stairs{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.teamSubtitle_Container{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgb(2, 2, 2) 80%);
  z-index: 2;
}
.teamSubtitle_Container h2{
  margin: 0;
  font-size: 14rem;
  color: transparent;
  -webkit-text-stroke: 1px #FFF5D9;
  opacity: 0.1;
  font-weight: 700;
  letter-spacing: -4%;
}

.teamBackground{
  position: relative;
  width: 100%;
  background-color: rgb(2, 2, 2);
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.framerMotionEffect{
  position: absolute;
  background: linear-gradient(to right, rgb(2, 2, 2) 70%, rgba(2, 2, 2, 0) 100%);
  top: 0;
  height: 100%;
  width: 60%;
  left: 0;
  z-index: 999;
}
.framerMotionEffect2{
  position: absolute;
  background: linear-gradient(to left,  rgb(2, 2, 2) 70%, rgba(2, 2, 2, 0) 100%);
  top: 0;
  height: 100%;
  width: 60%;
  right: 0;
  z-index: 999;
}
.carrousel {
  width: 80%;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 70px;
  padding-top: 50px;
}
.blurEffect1{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 38.6%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgb(2, 2, 2) 100%);
  z-index: 2;
}
.blurEffect2{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 39.2%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgb(2, 2, 2) 100%);
  z-index: 2;
}
.innerCarrousel {
  display: flex;
  justify-content: center;
  padding-left: 320px;
  gap: 20px;
  padding-bottom: 20px; /* Espacio inferior para evitar que los botones se superpongan */
}

.member {
  position: relative;
  flex-shrink: 0; /* Evita que los elementos se reduzcan para ajustarse al contenedor */
  width: 300px; 
  height: 300px;

}
.memberBlur{
  position: absolute;
  flex-shrink: 0;
  width: 300px; 
  height: 320px;
  backdrop-filter: blur(3px);
  z-index: 1;
}
.memberSelected{
  scale: 1.1;
  z-index: 4;
}

.memberDataContainer{
  height: 100%;
  position: relative;
  
}
.memberData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  color: #FFF5D9;
}

.memberProfileImage{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.namePosition{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF5D9;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, rgba(0, 0, 0, 0.021) 100%);
  gap: 3px;
  
}
.namePosition h4{
  margin: 0px;
  margin-top: 20px;
  pointer-events: none;
  
}
.namePosition span{
  margin: 0px;
  margin-bottom: 20px;
  pointer-events: none;
  font-size: 0.75rem;
  color: #FFF5D9;
}

.descriptionMember{
  width: 80%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
.descriptionMember p{
  pointer-events: none;
  padding-bottom: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.bottomRight{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
  border: 0px;
  margin-right: 30%;
  margin-top: 10%;
}
.bottomLeft{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  border: 0px;
  transform: scaleX(-1);
  margin-left: 30%;
  margin-top: 10%;
}
.arrow{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.404));
}
.partnerBack{
  position: relative;
  height: fit-content;
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  background-color:  rgb(2, 2, 2);
}
.gradientBetween{
  position: absolute;
  top: 0;
  height: 50px;
  width: 50%;
  background: linear-gradient(to bottom, rgb(2, 2, 2), #090303);
}
.gradientBetweenBottom{
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(218, 20, 20, 0), rgb(2, 2, 2));
}
.treeImageContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.treeImage{
  height: auto;
  width: 90%;
}
.gradientTree{
  position: absolute;
  width: 90%;
  height: 100%;
  background: linear-gradient(to right, rgb(2, 2, 2)0%, rgba(0, 0, 0, 0)20%, rgba(0, 0, 0, 0)80%, rgb(2, 2, 2)100%);
  
}

.sponsorContainer{
  margin-top: 300px;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 1.5%;
  height: fit-content;
  width: 100%;
  
}
.sponsorCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  
  
}

.sponsorCard div{
  position: relative;
  width: 130px;
  height: 130px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsorCard h2{
  margin: 0px;
  color: #fff5d9;
  font-size: 0.9rem;
}

.logoSponsor{
  width: 60%;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  filter: drop-shadow(0px 0px 15px #FDF0D5);
}

.footer{
  position: relative;
  width: 100%;
  background-color: rgb(2, 2, 2);
}
.footerContent{
  background: linear-gradient(0deg, rgba(175, 50, 0, 0.884) 0%, rgba(104, 24, 12, 0.795) 13%, rgb(2, 2, 2) 35%, rgba(2,2,2,1) 100%);  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.containerRadius{
  position: relative;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
}
.radius{
  height: 100%;
  width: auto;
  
}
.contenedorLogoFooter{
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.logoFooter{
  width: 100px;
  height: auto;
  padding-bottom: 25px;
  
}

.comunityContainer{
  color: #FDF0D5;
  width: 100%;
  display: flex;
  justify-content: center;
}
.comunityText{
  padding-left: 7%;
}

.comunityText span{
  font-size: 0.9rem;
  color: #fdf0d56b;
}
.comunityText h2{
  margin: 0px;
  padding: 5px 0px;
  width: 100%;
  font-size: 2rem;
  color: #FDF0D5;
}
.socials{
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  z-index: 999;
}
.socials a{
  text-decoration: none;
  color: #FDF0D5;
  font-size: 40px;
  
}
.socials a:hover{
  scale: 1.1;
  
}

.rights{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 30px;
  background-color: #000000;
  color: #fff5d91c;
  padding: 10px;
}

@media screen and (max-width: 1500px) {
  .navBarBack {
    height: 80px;
    gap: 7%;
    
  }
  .navBarBack a{
    font-size: 0.75rem;
    width: 60px;
  }
  .containerStart {
    height: 58vh;
    
  }

  .contentContainer div {
    width: 85%;
    height: fit-content;
    padding: 20px 25px;
  }

  .contentContainer div h3{
    font-size: 15px;
  }
  .contentContainer div p{
    width: 100%;
  }
  .marginDiv{
    margin-right: 7%;
  }
  .subTitleContainer h2 {
    
    font-size: 9rem;
    
  }
  .teamSubtitle_Container{
    height: 20vh;
    display: flex;
    
  }
  .teamSubtitle_Container h2{
    font-size: 8rem;
    -webkit-text-stroke: 0.1px #FFF5D9;
  }
  .blurEffect1{
    width: 35%;
  }
  .blurEffect2{
    width: 35%;
  }
  .bottomRight{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: transparent;
    border: 0px;
    margin-right: 20%;
    margin-top: 20%;
  }
  .bottomLeft{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
    border: 0px;
    transform: scaleX(-1);
    margin-left: 20%;
    margin-top: 20%;
    
  }
  .sponsorContainer{
    margin-top: 100px;
    gap: 2%;
    width: 100%;
    
  }
}

@media screen and (max-width: 930px) {
  .navBarBack {
    height: 70px;
    gap: 2%;
    
  }
  .navBarBack a{
    text-align: center;
    width: fit-content;
    text-decoration: none;
    color: #fff5d9d8;
    font-size: 0.65rem;
    width: 60px;
  }
  .logo{
    width: 40px;
  }
  
  .containerStart {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
  }
  
  .content{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    width: 70%;
    height: fit-content;
    
  }
  .kinodeTextLogo{
    width: 100%;
    height: auto;
  }
  .subHeadline{
    color: #fff5d9c4;
    font-size: 0.8rem;
    opacity: 0.8;
    margin: 20px 0px;
    font-weight: 700;
    letter-spacing: -1px;
  }

  .aboutUsContainer{
    padding: 40px 0px;
    
  }
  .subTitleContainer{
    display: none;
  }
  
  .subTitleContainer h2 {
    margin: 0;
    font-size: 10rem;
    color: transparent;
    -webkit-text-stroke: 1px #FFF5D9;
    opacity: 0.1;
    font-weight: 700;
    letter-spacing: -4%;
  }
  
  .contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contentContainer div {
    width: 100%;
    height: fit-content;
    padding: 20px 25px;
    
  }
  
  .contentContainer div h3{
    font-size: 15px;
  }
  .contentContainer div p{
    width: 100%;
  }
  .marginDiv{
    margin-right: 0%;
  }
  .teamPreImage{
    position: relative;
    width: 100%;
  }
  
  .teamSubtitle_Container{
    height: 25vh;
    display: flex;
  }
  .teamSubtitle_Container h2{
    font-size: 6rem;
    -webkit-text-stroke: 0.1px #FFF5D9;
  }
  
  .carrousel {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 70px;
    padding-top: 0px;
  }

  .carrousel {
    padding-top: 70px;
    padding-bottom: 0px;
  }
  
  .innerCarrousel {
    display: flex;
    justify-content: center;
    padding-left: 320px;
    gap: 20px;
    padding-bottom: 20px; /* Espacio inferior para evitar que los botones se superpongan */
    
  }
  .memberSelected{
    scale: 1;
  }
  .shownData{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .namePosition{
    width: 90%;
    margin-bottom: 15px;
  }
  .memberProfileImage{
    width: 90%;
    height: 90%;
    
  }

  .blurEffect1{
    width: 32%;
  }
  .blurEffect2{
    width: 32%;
  }


  .bottomRight{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: transparent;
    border: 0px;
    margin-right: 25%;
    margin-top: 25%;
  }
  .bottomLeft{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
    border: 0px;
    transform: scaleX(-1);
    margin-left: 25%;
    margin-top: 25%;
    
  }
  .arrow{
    width: 35px;
    height: auto;
  }
  .gradientBetween{
    height: 5px;
  }
  .gradientBetweenBottom{
    position: absolute;
    bottom: 0;
    height: 130px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(218, 20, 20, 0), rgb(2, 2, 2));
  }
  
  .treeImage{
    width: 100%;
  }
  .gradientTree{
    width: 100%;
  }
  
  .sponsorContainer{
    margin-top: 100px;
    gap: 3%;
    width: 100%;
    
  }
  
  .sponsorCard div{
    width: 60px;
    height: 60px; 
  }
  .sponsorCard h2{
    margin: 5px 0px;
    font-size: 0.7rem;
  }
  
  .logoSponsor{
    width: 100%;
  }
  

  .footer{
    position: relative;
    width: 100%;
    background-color: rgb(2, 2, 2);
  }
  .footerContent{
    height: 220px;
  }
  
  .containerRadius{
    position: absolute;
    top: 0;
    padding: 0px 7px;
    align-items: flex-end;
    
  }
  .radius{
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .logoFooter{
    width: 50px;
    padding-bottom: 35px;
    
  }
  
  .comunityText span{
    font-size: 0.7rem;
    color: #fdf0d56b;
  }
  .comunityText h2{
    padding: 0px 0px;
    font-size: 1.3rem;
    
  }
  .socials{
    gap: 3%;
  }
  .socials a{
    font-size: 26px;
    
  }
  .rights{
    position: relative;
    font-size: 0.5rem;
    height: 10px;
    z-index: 999;
  }
}
@media screen and (max-width: 739px) {
  
  .sponsorCard div{
    width: 62px;
    height: 62px; 
  }
  .bottomRight{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: transparent;
    border: 0px;
    margin-right: 13%;
    margin-top: 20%;
  }
  .bottomLeft{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
    border: 0px;
    transform: scaleX(-1);
    margin-left: 12%;
    margin-top: 20%;
    
  }
  .socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5%;
    
    
  }
  .socials a{
    padding-right: 25px;
    padding-top: 10px;
    font-size: 19px;
    
  }
}
@media screen and (max-width: 460px) {

  .teamSubtitle_Container{
    height: 25vh;
    display: flex;
  }
  .teamSubtitle_Container h2{
    font-size: 5rem;
    -webkit-text-stroke: 0.1px #FFF5D9;
  }
  .arrow{
    width: 20px;
    height: auto;
  }
  .blurEffect1{
    width: 8%;
  }
  .blurEffect2{
    width: 8%;
  }

  .bottomRight{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: transparent;
    border: 0px;
    margin-right: 5%;
    margin-top: 40%;
    z-index: 999;
  }
  .bottomLeft{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
    border: 0px;
    transform: scaleX(-1);
    margin-left: 5%;
    margin-top: 40%;
    z-index: 999;
  }
  .sponsorContainer{
    margin-top: 40px;
    gap: 2%;
    width: 100%;
    
  }
  .sponsorCard div{
    width: 50px;
    height: 40px; 
  }

  .sponsorCard h2{
    margin: 5px 0px;
    font-size: 0.5rem;
  }
  .comunityText span{
    font-size: 0.5rem;
    color: #fdf0d56b;
  }
  .comunityText h2{
    padding: 0px 0px;
    font-size: 0.8rem;
    
  }
  
  .footerContent{
    height: 200px;
  }
}

